{% comment %}
    Renders a list of products from a collection

    Accepts:
    - collection: {Object} Collection Liquid object (required)

    Usage:
    {% include 'collection-list-item', collection: collection %}
{% endcomment %}
{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.media != empty %}
  {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}

{% comment %} <div>
  <ul id="collection-select">
    {% for product in collection.products %}
      <li>
        {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
      </li>
    {% endfor %}
  </ul>
</div> {% endcomment %}

  <ul class="grid grid--uniform grid--view-items" style="display: flex">
    {% for product in collection.products %}
      <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
        {% include 'product-card-grid', product: product %}
      </li>
    {% endfor %}
  </ul>
